/* ---- Reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* ---- Navbar ---- */
nav {
  padding-bottom: 30px;
}

/* ---- Form Field ---- */
.field {
  width: 400px;
  padding-left: 50px;
}