/* ---- Reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 20px 100px 0px 100px;
}

/* ---- Box ---- */

.box {
  width: 500px;
  margin: 50px;
}